.tweet-form {
  display: flex;
  flex-direction: column;
}

.new-tweet {
  width: 700px;
}

#tweet-text {
  border: 0;
  height: 90px;
  border-bottom: 5px solid black;
  background-color: inherit;
  resize: none;
}

.button-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  background-color: #4056A1;
  color: white;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 0;
  cursor: pointer;
}

/* Dim the color on hover */
.button:hover {
  filter: brightness(70%); /* Reduce brightness to 70% */
}