/* new-tweet.css */

#tweet-form {
  display: flex;
  flex-direction: column;
}

.new-tweet {
  width: 700px;
}

#tweet-text {
  border: 0px;
  padding-top: 50px;
  height: 90px;
  border-bottom: 5px solid rgb(53, 51, 51);
  background-color: inherit;
  resize: none;
  outline: none; /* Ensure the default focus outline is removed */
}

.button-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 51, 51);
}

#create-tweet {
  background-color: #4056A1;
  color: white;
  border: 0;
  cursor: pointer;
}

/* Dim the color on hover */
#create-tweet:hover {
  filter: brightness(70%); /* Reduce brightness to 70% */
}

/* Colour when character limit is exceeded */
.counter.exceeded {
  color: red; 
}

.error {
  background-color: #ffcccb; /* Light red background */
  color: #d8000c; /* Red text */
  border: 1px solid #d8000c; /* Red border */
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: none; /* Initially hidden */
}

.error h2 {
  margin: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.error h2 i {
  margin-right: 5px;
}